<style>
body {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    font-family: 'Apple SD Gothic Neo', Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container {
    width: 80%;
    margin: 0 auto;
    text-align: left; /* Reset text alignment inside the container */
}
/* Add this style for card container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
}

header {
    background-color: #4C1E12; /* Dark brown background color for the header */
    color: #fff; /* White text for contrast */
    padding: 20px;
}
nav {
    background-color: #3B150F; /* Slightly darker brown background for the navigation bar */
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.coffee-image {
    width: 100%;
    max-width: 300px;
    margin: 20px;
}
table {
    width: 100%;
}
table, th, td {
    border: 1px solid #A4785F; /* Brown border color */
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #4C1E12; /* Dark brown background for table header */
    color: #fff; /* White text for contrast */
}
.animation {
    animation: move 2s infinite;
}
@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Adding the gradient background class and animation */
.gradient-background {
    background: linear-gradient(298deg, #3b2117, #763e2b, #b18250, #cec0b2, #f0e2c5);
    background-size: 300% 300%;
    animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
